/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

.col-1-3,
.col-2-3{
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3{
  padding-left: 15px;
  padding-right: 15px;
}


/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h5, p {
  margin-bottom: 22px;
}
h1, h2, h3, h4{
  color: #c2b280
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {  
  display: inline-block;
  margin: 0;
  color: #ffde59;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  width: 120px;
  /* border-bottom: 2px solid #ffde59;   */
}

.btn-alt {  
  padding: 5px 10px;
}

.btn:hover {
  border-radius:  15px;
  background-color:#ffde59;
  color: black;
}

.btn-call {  
  display: inline-block;
  margin: 0;
  border-radius:  15px;
  border: 2px solid #ffde59;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  width: 160px;
  color:#ffde59;
  padding: 5px 10px;
}

.btn-call:hover {
  color: black;
  padding: 5px 10px;
  border-radius:  15px;
  background-color:#ffde59;
}



/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after{
  clear: both;
}
.group{
  clear:both;
  *zoom: 1;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo{
  padding: 40px 0 22px 0;
  float:left;  
}
.tagline{
  margin:66px 0 22px 0;
  text-align: right;
}
.primary-nav{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}
/*
  ========================================
  Primary footer
  ========================================
*/
.primary-footer{
  font-size: 14px;  
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
=========================================
Custom style
=========================================
*/
body{ 
  background-color: #1b1b1b;
  color: #ffde59;
  font: 300 16px/22px "Roboto Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
h1{
  font-size: 36px;
  line-height: 44px;
}
h2{
  font-size: 24px;
  line-height: 44px;
}
h3{
  font-size:21px;
}
h4{
  font-size: 18px;
}
h5{
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong{
  font-weight: 400;
}



/*
  ========================================
  Navigation
  ========================================
*/
.nav{
  text-align: right;
}
.nav li{
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
}
.nav li:last-child{
  margin-right: 0;
}

/*
  ========================================
  Rows
  ========================================
*/
.row,
.row-alt {
  min-width: 960px;
}
/* .row {
  background: #292929;
  padding: 66px 0 44px 0;
} */
.row-alt {
  background: #292929;
  background: -webkit-linear-gradient(to right, #292929, #1a1110);
  background: -moz-linear-gradient(to right, #292929, #1a1110);
  background: linear-gradient(to right, #292929, #1a1110);
  padding: 44px 0 22px 0;
}
/*
  ========================================
  Image
  ========================================
*/
.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%;
}